.DS_Store
.#*
*.stackdump
emacs_backtrace.txt
cscope.files
cscope.out
#####
##### build output
#####
lua/buildoutput
cmake/prj01/build
cmake/prj02/build
add
do-me
init
average
slone
sdump
sdump.exe
scan
scan.exe
sconf
sconf.exe
