.DS_Store
.#*
*.stackdump
emacs_backtrace.txt
cscope.files
cscope.out
#####
##### build output
#####
lua/buildoutput
cmake/prj01/build
cmake/prj02/build
add
do-me
init
average
slone
sdump
sdump.exe
scan
scan.exe
sconf
sconf.exe
#
# latex/asy output
#
*.aux
asy/ahwen/*.pdf
asy/ahwen/latexusage-*.tex
asy/ahwen/fig3D.tex
asy/ahwen/latexusage-*.asy
asy/ahwen/test.asy
asy/ahwen/testAsymptote.tex
